.About {
  width: 100%;
  height: 100%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardTop {
  width: 100%;

  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5px;
}

.cardTop .title {
  background-color:rgb(68, 7, 17);
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cardTop .contents {
  background-color: rgba(34, 8, 8, 0.723);
  width: 80%;
  z-index: 0;
  margin-top: -3rem;
  min-height: 30vh;
  padding:1rem;
  padding-top: 4rem;
  border-radius: 10px;
  box-sizing: border-box;
}

.cardTop .contents table{
  padding:1rem;
  border-radius: 10px;
  background-color: rgb(40, 4, 10);
}

@media screen and (max-width:1000px) {
  .cardTop .contents {
    background-color: rgba(63, 7, 7, 0.723);
    width: 100%;
    z-index: 0;
    margin-top: -3rem;
    min-height: 30vh;
    padding:5px;
    padding-top: 4rem;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .cardTop .contents table{
    padding:1rem;
    border-radius: 10px;
    background-color: rgb(40, 4, 10);
    font-size: small;
  }
}