.box{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width:100%;
padding:3px;
}

.box .title{
    width: 30%;
}

.Value{
   background-color: green;
   width: 70%;
   height:3vh;
   padding:5px;
   border-radius: 20px;
}

.Value .fill{
    background-color: orange;
    height:inherit;
    border-radius: 20px;
}