.box{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width:100%;
padding:3px;
}

.box .title{
    width: 30%;
}

.Value{
   background-color: green;
   width: 70%;
   height:3vh;
 
   border-radius: 20px;
}

.Value .fill{
    background-color: orange;
    height:inherit;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Value .fill span{
    font-size:9px;
    background-color: rgb(3, 3, 26);
    border-radius:50%;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    justify-content:center;
    align-items: center;    

}